.allCharts{
  width: 80%;
  height: 100%;
  text-align: center;
  justify-content: center;
}

.allChartsEst{
  width: 80%;
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
}

.chart1 {
  width: 22rem;
  height: 22rem;
}

.chart2 {
  width: 50rem;
  height: 22rem;
}

