.allCharts{
  margin-top: 5%;
  padding: 1px 16px;
  padding-bottom: 15px;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.chart1 {
  width: 22rem;
  height: 22rem;
}

.chart2 {
  width: 50rem;
  height: 22rem;
}

