.sidenav {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: rgb(3, 4, 94);
  position: absolute;
  min-height: 100vh;
}
  
.sideitem {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  color: #c1c9d2;
  text-decoration: none;
}


.sideitemini
{
  display: flex;
  align-items: center;
  padding: 15px 20px;
  padding-bottom: 30px;
  color: #c1c9d2;
  text-decoration: none;
}

.linkText {
    padding-left: 16px;
}

 
.sideitem:hover {
    background-color: #244f7d1c;
}
 
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #3b4f63;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}