.sidenav {
    width: 250px;
    height: 100%;
    background-color: rgb(18, 17, 95);
    padding-top: 30px;
}
  
.sideitem {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  color: #c1c9d2;
  text-decoration: none;
}

.cerrarses{
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #c1c9d2;
  cursos:pointer;
  text-decoration: none;
  margin-top:355px;
}

.sideitemini
{
  display: flex;
  align-items: center;
  padding: 15px 20px;
  padding-bottom: 30px;
  color: #c1c9d2;
  text-decoration: none;
}

.linkText {
    padding-left: 16px;
}

 
.sideitem:hover {
    background-color: #244f7d1c;
}
 
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: #3b4f63;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}